.skills {
    background-color: #252527;
    display: flex;
    justify-content: center;
    position: relative;
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 20px;
}

.skillsWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.skill {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    height: 80px;
    width: 80px;
    background-color: #ededed;
}

.description {
    text-align: center;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 1128px) {
    .skillsWrapper {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .skill {
        width: 100%;
    }
}

@media screen and (max-width: 1128px) {
    .skill {
        width: 500PX;
    }
}

@media screen and (max-width: 630px) {
    .skill {
        width: 100%;
    }
}